<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd


                           http://www.springframework.org/schema/cache
                           http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- 缓存服务 Start -->
    <!-- 缓存管理 -->
    <cache:annotation-driven cache-manager="compositeCacheManager"/>
    <!-- 组合缓存管理器,实现本地内存和redis的两级缓存 -->
    <bean id="compositeCacheManager" class="org.springframework.cache.support.CompositeCacheManager">
        <property name="cacheManagers">
            <list>
                <!-- 本地内存缓存管理器 -->
                <ref bean="concurrentMapCacheManager" />
                <!-- redis缓存管理器 -->
                <!--<ref bean="redisCacheManager" />-->
            </list>
        </property>
    </bean>
    <!-- 本地内存缓存 -->
    <bean id="concurrentMapCacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager">
        <property name="cacheNames">
            <list>
                <value>localMemCache</value>
            </list>
        </property>
    </bean>
</beans>